<table align="center">
  <td align="center"><a target="_blank" href="https://gdsc.community.dev/universidad-nacional-de-ingenieria/">
        <img src="https://i.ibb.co/pX2w52P/GDSC.png" style="padding-bottom:5px;" />
      GDSC UNI</a></td>

  <td align="center"><a target="_blank" href="">
        <img src="https://i.ibb.co/Bf0HK0q/Colaboratory.png"  style="padding-bottom:5px;" /> Google Colab </a></td>

  <td align="center"><a target="_blank" href="">
        <img src="https://i.ibb.co/C99WYc2/DeepNote.png"  height="110px" style="padding-bottom:5px;"/> Deepnote</a></td>

  <td align="center"><a target="_blank" href="">
        <img src="https://i.ibb.co/VHHdRx2/Github.png"  height="110px" style="padding-bottom:5px;"/> GitHub</a></td>

</table>

<center>
<h1><font color='SteelBlue', size= '30px'>PFDS4: </font> <font size='30px'>Variables Tipo Textos</font></h1>
<hr>
</center>

Dentro del campo de Machine learning, existe un subcampo llamado *Natural lenguage Processing* (NLP), en el que se trabajan con variables tipo texto. Pandas, cuenta con una gran funcionalidad a la hora de interactuar con estas variables. Antes de mostrar las funcionalidad, crearemos un DataFrame con el que trabajaremos.

In [1]:
import pandas as pd

In [2]:
data = { 'names': [ 'Margaret Hamilton25',
                    'Donald Knuth14',
                    'Ken Thompson13',
                    'Linus Torvalds18'
]}

df = pd.DataFrame(data)
df

                 names
0  Margaret Hamilton25
1       Donald Knuth14
2       Ken Thompson13
3     Linus Torvalds18

Pandas nos permite usar métodos asociadas a los string usando *str* en nuestro DataFrame, tal como se muestra a continuación:

In [3]:
df['names'].str.lower()

0    margaret hamilton25
1         donald knuth14
2         ken thompson13
3       linus torvalds18
Name: names, dtype: object

In [4]:
df['names'].str.upper()

0    MARGARET HAMILTON25
1         DONALD KNUTH14
2         KEN THOMPSON13
3       LINUS TORVALDS18
Name: names, dtype: object

In [5]:
df['names'].str.capitalize()

0    Margaret hamilton25
1         Donald knuth14
2         Ken thompson13
3       Linus torvalds18
Name: names, dtype: object

In [6]:
df['names'].str.len()

0    19
1    14
2    14
3    16
Name: names, dtype: int64

In [7]:
df['names'].str.split(' ')

0    [Margaret, Hamilton25]
1         [Donald, Knuth14]
2         [Ken, Thompson13]
3       [Linus, Torvalds18]
Name: names, dtype: object

In [8]:
df['names'].str[:3]

0    Mar
1    Don
2    Ken
3    Lin
Name: names, dtype: object

In [9]:
df['names'].str[-3:]

0    n25
1    h14
2    n13
3    s18
Name: names, dtype: object

Haciendo un análisis de nuestros datos, podemos números entre los nombres que no deberían estar, estos números los podemos conocer mediante el método extract, tal como se muestra a continuación.

In [10]:
df['names'].str.extract('([0-9]+)', expand=False)

0    25
1    14
2    13
3    18
Name: names, dtype: object

Y con el método replace podemos eliminar estos números que no deberían estar

In [11]:
df['names'].str.replace('[0-9]', '',regex=True)

0    Margaret Hamilton
1         Donald Knuth
2         Ken Thompson
3       Linus Torvalds
Name: names, dtype: object

Existen métodos como *findall* que nos permite buscar un string dentro de nuestro DataFrame, así como también el método contains que nos permite buscar dentro de nuestro DataFrame todas aquellas filas que contengan en o los caracteres buscados.

In [12]:
df['names'].str.findall('Ken')

0       []
1       []
2    [Ken]
3       []
Name: names, dtype: object

In [13]:
df['names'].str.contains('r')

0     True
1    False
2    False
3     True
Name: names, dtype: bool

In [14]:
df[df['names'].str.contains('r')]

                 names
0  Margaret Hamilton25
3     Linus Torvalds18

Por último, podemos contar cuantas veces aparece un determinado carácter de la siguiente manera.

In [15]:
df['names'].str.lower().str.count('a')

0    3
1    1
2    0
3    1
Name: names, dtype: int64